
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model List<MyMVCStokProject.Models.Entitiy.TBL_KATEGORILER>

<h2>Burası Kategorilerin Listeneceği Sayfadır.</h2>

<table class="table table-bordered ">
    <tr>
        <td>Kategori ID</td>
        <td>Kategori Adı</td>
        <td> Sil </td>
        <td> Güncelle </td>
    </tr>
    
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.KATEGORIID</th>
            <td>@item.KATEGORIAD</td>
            <th><a href="/Category/Delete/@item.KATEGORIID" class="btn btn-danger">SİL</a></th>
            <th><a href="/Category/Update/@item.KATEGORIID" class="btn btn-success">GÜNCELLE</a></th>
        </tr>
    }


    </tbody>
</table>

<a href="/Category/NewCategory" class="btn btn-primary">Yeni Kategori</a>