
@model MyMVCStokProject.Models.Entitiy.TBL_KATEGORILER
@{
    
    ViewBag.Title = "NewProduct";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>NewProduct</h2>

<form class="form form-group" method="post">

    <div>
        <label style="text-align: center" class="form-control">Ürün Adını Giriniz </label>
        <input class="form-control" type="text" name="URUNAD" />
    </div>

    <div>
        <label style="text-align: center" class="form-control">Ürün Kategorisini Seçiniz </label>
        @Html.DropDownListFor(m=>m.KATEGORIAD,(List<SelectListItem>)ViewBag.Values, new { @class="form-control"});
    </div>

    <div>
        <label style="text-align: center" class="form-control">Ürün Fiyatını Giriniz </label>
        <input class="form-control" type="text" name="FIYAT" />
    </div>

    <div>
        <label style="text-align: center" class="form-control">Ürün Markasını Giriniz </label>
        <input class="form-control" type="text" name="MARKA" />
    </div>

    <div>
        <label style="text-align: center" class="form-control">Ürün Stok Giriniz </label>
        <input class="form-control" type="text" name="STOK" />
    </div>

    <div>
        <button type="submit" style="margin-top: 20px;" class="btn btn-success">EKLE</button>
    </div>


</form>
