
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@model List<MyMVCStokProject.Models.Entitiy.TBL_MUSTERILER>
    

<table class="table table-bordered">
    <tr>
        <th>Musteri ID</th>
        <th>Musteri Ad</th>
        <th>Musteri Soyad</th>
        <th> </th>
        <th> </th>
    </tr>

    <tbody>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.MUSTERIID</th>
            <td>@item.MUSTERIAD</td>
            <td>@item.MUSTERISOYAD</td>
            <td><a class="btn btn-danger" href="/Customer/DeleteCustomer/@item.MUSTERIID">SİL</a></td>
            <td><a class="btn btn-success" href="/Customer/DeleteCustomer/@item.MUSTERIID">GÜNCELLE</a></td>
        </tr>
    }

    </tbody>
</table>

<a href="/Customer/NewCustomer" class="btn btn-primary">Yeni Müşteri</a>